
/* start Global rules  */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #dcdcdc;
  --main-background-color: #070027;
  --main-secondary-color: #20b0a8;
  --Yellow-color: #fed501;
}

html {
  scroll-behavior: smooth;
}
/* End Global rules  */

/* start  global element  */

.container {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
  section,
  #send-mail,
  footer {
    overflow-x: hidden;
  }
}
@media (max-width: 376px) {
}

.fixed-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  padding: 50px;
}
.fixed-title i {
  font-size: 50px;
  color: var(--Yellow-color);
}
.fixed-title h1 {
  font-size: 35px;
  margin-bottom: 8px;
}
.fixed-title p {
  font-size: 15px;
  color: #777;
  position: relative;
}
.fixed-title p::before {
  content: "";
  height: 2px;
  width: 70%;
  background-color: var(--main-secondary-color);
  position: absolute;
  bottom: -10px;
  left: -40px;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}
/* to add property display flex */

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--main-color);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
button {
  padding: 10px 30px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #f12702;
  cursor: pointer;
  color: var(--Yellow-color);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: var(--main-color);
  color: var(--main-background-color);
}

/* End  global element  */

/* ---------------------------------------------------------- */

/* start section start  */
.started {
  background-color: #070027;
  text-transform: capitalize;
  height: 100vh;
}

/* start header */
.started header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  .started header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.started header .logo {
  width: 150px;
}

.started header .logo img {
  max-width: 100%;
}

.started header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.started header ul {
  border-right: 2px solid #20b0a8;
  margin-right: 10px;
}
.started header ul.show {
  opacity: 1;
  z-index: 1000;
  height: 327px;
}

@media (max-width: 1300px) {
  .started header ul {
    height: 0;
    z-index: -1;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: calc(100% + 10px);
    right: -10px;
    width: 140%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--main-background-color);
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .started header ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 769px) {
  .started header ul {
    max-width: 100%;
    right: 0;
  }
}

/* menu bar  */
@media (min-width: 1300px) {
  .started header nav .menu-icone {
    display: none;
  }
}

.started header ul li {
  display: inline-block;
  position: relative;
}

.started header ul li::before {
  content: "";
  position: absolute;
  height: 1.5px;
  background-color: var(--main-secondary-color);
  bottom: -10px;
  left: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 0%;
}

.started header ul li:hover::before {
  width: calc(100% - 30px);
}

.started header ul li a {
  padding: 20px;
  font-size: 20px;
  margin: 0;
}
.started header ul li a:hover {
  color: var(--main-secondary-color);
  padding-left: 10px;
}

nav .search {
  position: relative;
  margin-right: 10px;
}
#search-ipt {
  padding: 10px;
  outline: none;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--Yellow-color);
  background-color: transparent;
  border: 1.5px solid var(--main-color);
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding-right: 40px;
}
#search-ipt:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
#search-ipt::-webkit-input-placeholder {
  color: #777;
  font-size: 18px;
}
#search-ipt::-moz-placeholder {
  color: #777;
  font-size: 18px;
}
#search-ipt:-ms-input-placeholder {
  color: #777;
  font-size: 18px;
}
#search-ipt::-ms-input-placeholder {
  color: #777;
  font-size: 18px;
}
#search-ipt::placeholder {
  color: #777;
  font-size: 18px;
}

.started header nav .search div {
  position: absolute;
  opacity: 0;
  padding: 20px;
  width: 100%;
  background-color: #f9f4e8;
  top: 60px;
  border-radius: 10px;
  border-top-left-radius: 0%;
  border-top-right-radius: 50px;
  z-index: 3;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.show {
  opacity: 1 !important;
  height: 100 !important;
}

.started header nav .search div::before {
  content: "";
  position: absolute;
  top: -35.5px;
  left: 5px;
  border: 18px solid;
  border-color: transparent transparent #f9f4e8 transparent;
}
.started header nav .search div > h2 {
  cursor: pointer;
  padding: 5px 20px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.started header nav .search div > h2:not(:last-child) {
  border-bottom: 1px solid #777;
}

.started header nav .search div > h2:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background-color: var(--main-background-color);
  color: var(--main-color);
  overflow: hidden;
}
.started header nav .search div > h2:hover:first-child {
  border-top-right-radius: 20px;
}
.started header nav .search-icone {
  font-size: 25px;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  right: -12%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  color: var(--main-secondary-color);
}

.started header nav .search-icone:hover {
  color: var(--Yellow-color);
  font-size: 20px;
}

.started header nav .menu-icone {
  color: var(--main-color);
  font-size: 30px;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: all 0.9s linear !important;
  -o-transition: all 0.9s linear !important;
  transition: all 0.9s linear !important;
}
@media (width <= 768px) {
  .started .container header nav button.login-btn {
    display: none;
  }
}
/* End header */

/* ------------------------------------- */

/* start article inside start section */
.started .container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: calc(100vh - 180px);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
}

@media (max-width: 767px) {
  .started .container article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 0;
  }
}

.started article .text {
  max-width: 50%;
  text-align: center;
}
@media (max-width: 767px) {
  .started article .text {
    max-width: 100%;
  }
}

.started article .text h1 {
  font-size: 50px;
  color: var(--main-color);
  margin: 0;
}
@media (max-width: 767px) {
  .started article .text h1 {
    font-size: 30px;
  }
}

.started article .text p {
  font-size: 20px;
  color: var(--main-color);
  font-weight: 100;
  margin: 20px 0;
}

.started article .image {
  width: 50%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  .started article .image {
    width: 60%;
    height: 40%;
    overflow: hidden;
  }
  .started article .image img {
    position: absolute;
    left: -20%;
    top: 0;
  }
}
.started article .image img {
  max-width: 100%;
  position: relative;
  z-index: 1;
  -webkit-animation: move 2s linear infinite;
  animation: move 2s linear infinite;
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-2%);
    transform: translateX(-2%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-2%);
    transform: translateX(-2%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.started article .image::before {
  content: "";
  width: 7%;
  background-color: #20b0a8;
  position: absolute;
  height: 400px;
  top: 10%;
  left: 210px;
  border-top-left-radius: 30% 50px;
  border-bottom-left-radius: 90px 50px;
  border-bottom-right-radius: 10% 30%;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.started article .image::after {
  content: "";
  width: 7%;
  background-color: #88739f;
  position: absolute;
  height: 400px;
  top: 20%;
  left: 350px;
  border-top-left-radius: 30% 50px;
  border-bottom-left-radius: 90px 50px;
  border-bottom-right-radius: 10% 30%;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
@media (max-width: 768px) {
  .started article .image::after,
  .started article .image::before {
    height: 200px;
    width: 5%;
  }
  .started article .image::after {
    top: 21%;
    left: 69%;
  }
  .started article .image::before {
    top: 10%;
    left: 35%;
  }
}
/* End article inside start section */

/* ------------------------------------------ */

/* start add button to move for the second section */
#btnMoveToButtom {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: transparent;
  font-size: 30px;
  padding: 1px;
  -webkit-animation: btn-Move-To-Buttom 0.8s linear infinite;
  animation: btn-Move-To-Buttom 0.8s linear infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
#btnMoveToButtom:hover {
  color: var(--main-secondary-color);
}
@-webkit-keyframes btn-Move-To-Buttom {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes btn-Move-To-Buttom {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* End add button to move for the second section */

/* -------------------------------------------------------- */
/* End section start  */

/* start section services */
#services .container,
#portfolio .container,
#about-us .container,
.meet-team .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-transform: capitalize;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (width < 768px) {
  #services .container .fixed-title > h1 {
    font-size: 30px;
  }
}
#services .service-cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-column-gap: 50px;
  text-align: center;
}
#services .container .service-cards .card {
  padding: 10px;
  position: relative;
}
#services .container .service-cards .card::before {
  content: attr(data-number);
  color: #7777771c;
  position: absolute;
  font-size: 150px;
  z-index: -1;
  top: -30px;
  -webkit-transform: translate(-30%);
  -ms-transform: translate(-30%);
  transform: translate(-30%);
}
#services .container .service-cards .card i {
  margin-top: 60px;
  font-size: 50px;
  color: var(--main-secondary-color);
}
#services .container .service-cards .card h2 {
  margin: 20px 0;
  color: var(--Yellow-color);
  font-weight: 500;
}
#services .container .service-cards .card p {
  line-height: 1.3;
  color: #777;
}
/* end section services */

/* start section portfolio */

#portfolio {
  background-color: #faf4f4c4;
}
#portfolio .filter-nav {
  margin-bottom: 30px;
}
#portfolio .filter-nav > ul > li {
  display: inline-block;
  padding: 10px;
  font-size: 1.1em;
  color: #777;
  border-radius: 15px;
  cursor: pointer;
}
@media (width <= 768px) {
  #portfolio .filter-nav > ul > li {
    padding: 8px;
  }
}
.active {
  background-color: #f12702;
  color: var(--Yellow-color) !important;
}

#portfolio .container-filter-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}
#portfolio .container-filter-image > .card {
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.textBox {
  position: absolute;
  top: 0;
  left: -10px;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.textBox > .text {
  font-weight: bold;
}

.textBox > .head {
  font-size: 20px;
  color: rgb(243, 243, 243);
  font-weight: 500;
}

.textBox > .price {
  font-size: 17px;
}

.textBox > span {
  font-size: 15px;
  color: var(--Yellow-color);
}
#portfolio .container-filter-image > .card:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

#portfolio .container-filter-image > .card:hover::before {
  height: 100%;
  content: "";
  width: 100%;
  background-color: #2fd8d0e5;
  position: absolute;
  top: 0;
  left: 0;
}

#portfolio .container-filter-image > .card:hover .textBox {
  opacity: 1;
}
#portfolio .show-more {
  margin-bottom: 30px;
}

#portfolio .show-more > a {
  color: var(--Yellow-color);
}

/* End section portfolio */

/* start section about */

#about .container .fixed-title p::before {
  left: -15px;
}

#about .container .stores {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.stores .story {
  text-align: center;
}
@media (width <= 768px) {
  #about .container .stores {
    gap: 30px;
  }
}

.stores .story p {
  color: #777;
  margin: 10px 0;
}
#about .container a {
  display: block;
  text-align: center;
  margin: 50px 0;
}

/* End section about */

/* start section create new project */
#get-start {
  background-color: var(--main-background-color);
  color: var(--main-color);
  padding: 80px;
  text-align: center;
  text-transform: capitalize;
}
@media (width<768px) {
  #get-start .container h1 {
    font-size: 20px;
  }
  #get-start .container p {
    font-size: 15px;
  }
}
#get-start .container p {
  color: #777;
  margin-bottom: 30px;
}
/* End section create new project */

/* start section stuff about us  */

#about-us {
  text-align: center;
  background-color: #e1e6e5;
}
#about-us .container .fixed-title p::before {
  left: -15px;
}
#about-us .container > p {
  color: #777;
  max-width: 500px;
  margin-bottom: 20px;
}

#about-us .container .about-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 30px;
  text-align: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (width < 991px) {
  #about-us .container .about-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #about-us .container .about-cards .card-img {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  #about-us .container .about-cards .card-img {
    width: 300px;
  }
}

#about-us .container .about-cards .card-text {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

#about-us .container .about-cards .card-text p {
  color: #777;
  margin: 20px 0;
  font-size: 13px;
}

#about-us .container .about-cards .card-text button {
  -webkit-margin-after: 20px;
  margin-block-end: 20px;
}
#about-us .container .about-cards .card-img {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

#about-us .container .about-cards .card-img > img {
  max-width: 100%;
}

/* end section stuff about us  */

/* start section Definition of the company and its owner  */

.definition {
  background-color: #333;
  text-transform: capitalize;
}
.definition .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 560px;
  position: relative;
}
@media (width < 768px) {
  .definition .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.definition .container .card {
  background: #000000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: aliceblue;
  padding: 20px;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.definition .container .card:nth-child(2) {
  width: 250px;
  height: 250px;
  margin: 100px 0 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.definition .container .card:nth-child(2):hover {
  height: 300px;
}
.definition .container .card:nth-child(2):hover .contactSocial {
  opacity: 1;
}

.definition .container .card::before {
  content: "";
  position: absolute;
  width: 180px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(#ff9966),
    color-stop(#ff9966),
    color-stop(#ff9966),
    color-stop(#ff9966),
    to(transparent)
  );
  background: -o-linear-gradient(
    left,
    transparent,
    #ff9966,
    #ff9966,
    #ff9966,
    #ff9966,
    transparent
  );
  background: linear-gradient(
    90deg,
    transparent,
    #ff9966,
    #ff9966,
    #ff9966,
    #ff9966,
    transparent
  );
  height: 160%;
  -webkit-animation: rotBGimg 3s linear infinite;
  animation: rotBGimg 3s linear infinite;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@-webkit-keyframes rotBGimg {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotBGimg {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.definition .container .card::after {
  content: "";
  position: absolute;
  background: #151515;
  inset: 3.5px;
  border-radius: 15px;
}
.definition .container .card .text {
  margin-top: 25px;
  position: absolute;
  z-index: 5;
  top: 40px;
}
.definition .container .card .text h1 {
  color: var(--main-secondary-color);
  margin: 50px 0 0 0;
  font-weight: 400;
}
.definition .container .card h3 {
  color: #777;
  font-size: 15px;
  text-align: center;
}
.definition .container .card .contactSocial {
  position: absolute;
  z-index: 5;
  bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.contactSocial .contactSocialNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.definition .container .card .contactSocialNumber div > :first-child {
  color: var(--main-secondary-color);
  font-weight: 600;
}
.definition .container .card .contactSocialNumber div > :last-child {
  color: var(--main-color);
  font-size: 15px;
}

.definition .container .card .contactSocialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-margin-before: 20px;
  margin-block-start: 20px;
}

.definition .container .card .contactSocialLinks a {
  padding: 10px;
  background-color: var(--main-secondary-color);
  border-radius: 5px;
  color: #070027;
}

.definition .container .card .contactSocialLinks a:last-child {
  background-color: var(--main-color);
}

.definition .container .card .contactSocialLinks a:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.definition .container .card:nth-child(1) {
  width: 150px;
  padding: 10px;
  min-height: 150px !important;
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 10;
  padding: 5px 5px 0;
}
.definition .container .card:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 150px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(#20b0a8),
    color-stop(#20b0a8),
    color-stop(#20b0a8),
    to(transparent)
  );
  background: -o-linear-gradient(
    left,
    transparent,
    #20b0a8,
    #20b0a8,
    #20b0a8,
    transparent
  );
  background: linear-gradient(
    90deg,
    transparent,
    #20b0a8,
    #20b0a8,
    #20b0a8,
    transparent
  );
  height: 160%;
  -webkit-animation: rotReverse 5s linear infinite;
  animation: rotReverse 5s linear infinite;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@-webkit-keyframes rotReverse {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotReverse {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.definition .container .card:nth-child(1)::after {
  background: #233;
  inset: 3px;
}
.definition .container .card .image {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  z-index: 6;
}
.definition .container .card .image img {
  max-width: 100%;
  border-radius: 15px;
}
.definition .container > .typing-animation {
  min-height: 150px;
}
.definition .container > .typing-animation > .typing-text {
  font-size: 3rem;
  font-weight: bold;
  color: var(--main-color);
  overflow: hidden;
  border-right: 0.15em solid var(--main-secondary-color);
  white-space: nowrap;
  letter-spacing: 0.15em;
  -webkit-animation: typing s steps(40, end) infinite linear;
  animation: typing s steps(40, end) infinite linear;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
@-webkit-keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@media (width<991px) {
  .definition .container > .typing-animation {
    position: absolute;
    bottom: 0px;
  }
  .definition .container > .typing-animation > .typing-text {
    font-size: 2em;
  }
}

/* End section Definition of the company and its owner  */

/* Start section meet the teem  */
.meet-team .container h1 {
  color: var(--Yellow-color);
}
.meet-team .container p {
  color: #777;
  font-size: 13px;
  max-width: 600px;
}

.meet-team .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.meet-team .container .cards > .card {
  background-color: var(--main-background-color);
  max-width: 200px;
  margin: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  position: relative;
}
.meet-team .container .cards .card::before {
  content: attr(data-developer-name);
  width: 100%;
  font-size: 18px;
  color: var(--main-background-color);
  background-color: var(--main-color);
  height: 0;
  text-align: center;
  position: absolute;
  bottom: 68px;
  opacity: 0;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
.meet-team .container .cards > .card:hover::before {
  height: 29px;
  opacity: 1;
}
.meet-team .container .cards > .card:hover {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.meet-team .container .cards:hover > .card:not(:hover) {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}
.meet-team .container .cards > .card > img {
  border-radius: 5px 5px 0 0;
}

.meet-team .container .cards > .card > p {
  padding: 10px;
}
/* End section meet the teem  */

/*  start section add feedback  */
#feedBack {
  background: url(../images/backGround5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#feedBack::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
#feedBack .container {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#feedBack .container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form label .input:-moz-placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:-ms-input-placeholder + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form label .input01:-moz-placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:-ms-input-placeholder + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:focus + span,
.form label .input01:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input01:valid + span {
  color: green;
}

.fancy {
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #cacaca;
  top: 50%;
  left: 1.5em;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateX(230%);
  -ms-transform: translateX(230%);
  transform: translateX(230%);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: background 0.3s linear, width 0.3s linear;
  -o-transition: background 0.3s linear, width 0.3s linear;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: #818181;
  -webkit-transform: translateX(30%);
  -ms-transform: translateX(30%);
  transform: translateX(30%);
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: white;
  -webkit-transition: width 0.5s ease-out, left 0.3s ease-out;
  -o-transition: width 0.5s ease-out, left 0.3s ease-out;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: white;
  -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
  -o-transition: width 0.5s ease-out, right 0.3s ease-out;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: white;
  -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
  -o-transition: width 0.5s ease-out, right 0.3s ease-out;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background: #cacaca;
}

.fancy:hover::before {
  width: 1.5rem;
  background: white;
}

.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

/*  End section add feedback  */

/* start form send me validation mail  */
#send-mail {
  background-color: var(--Yellow-color);
  padding: 30px;
  text-transform: capitalize;
}
#send-mail label {
  font-size: 19px;
  cursor: pointer;
}

#sub-mail {
  all: unset;
  padding-bottom: 5px;
  border-bottom: 2px solid #eee;
  margin: 0 15px;
  width: 300px;
  cursor: pointer;
  color: #f12702;
  font-size: 20px;
}
@media (width < 768px) {
  #sub-mail {
    margin: 20px;
  }
}
#sub-mail::-webkit-input-placeholder {
  color: white;
}
#sub-mail::-moz-placeholder {
  color: white;
}
#sub-mail:-ms-input-placeholder {
  color: white;
}
#sub-mail::-ms-input-placeholder {
  color: white;
}
#sub-mail::placeholder {
  color: white;
}
#send-mail .container > input[type="submit"] {
  padding: 10px 20px;
  border-radius: 10px 20px;
  background-color: var(--main-background-color);
  color: var(--Yellow-color);
  cursor: pointer;
  font-size: 20px;
}
@media (width < 768px) {
  #send-mail .container > input[type="submit"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
}

/* End form send me validation mail  */

/* START footer */
#footer {
  background-color: var(--main-background-color);
  text-transform: capitalize;
}
#footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--main-color);
  padding: 20px;
}
#footer .container .web-info {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}

#footer .container .web-info .info-app img {
  max-width: 200px;
}
#footer .container .web-info .info-devoloper {
  margin-top: 50px;
}
#footer .container .web-info .info-devoloper > p span:first-child {
  color: var(--main-secondary-color);
}
footer .container .web-info .info-devoloper > p span:last-child {
  color: var(--Yellow-color);
}
#footer .container .links {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  margin: 30px 20px 0;
}

#footer .container .links > p {
  font-size: 19px;
  font-weight: bold;
  margin-left: 7px;
}
#footer .container .links > ul li a:first-child {
  margin-top: 10px;
}

#footer .container .links > ul li a {
  padding: 0.8em 1.75em;
  border-radius: 6px;
  border: 0.3px solid var(--main-secondary-color);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  text-transform: uppercase;
  color: #eee;
  display: block;
}

#footer .container .links > ul li a::after,
#footer .container .links > ul li a::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  -webkit-transform: skew(90deg) translate(-50%, -50%);
  -ms-transform: skew(90deg) translate(-50%, -50%);
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  background-color: var(--main-secondary-color);
}
#footer .container .links > ul li a::before {
  top: -50%;
  left: -25%;
  -webkit-transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
  -ms-transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

#footer .container .links > ul li a:hover::before {
  -webkit-transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
  -ms-transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

#footer .container .links > ul li a:hover::after {
  -webkit-transform: skew(45deg) translate(-50%, -50%);
  -ms-transform: skew(45deg) translate(-50%, -50%);
  transform: skew(45deg) translate(-50%, -50%);
}

#footer .container .links > ul li a:hover {
  color: var(--color2);
}
#footer .container .contact-us {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}
@media (width <= 768px) {
  #footer .container .contact-us {
    margin-top: 20px;
  }
}

#footer .container .contact-us p {
  color: #777;
  margin: 20px 0;
}
#footer .container .contact-us > a {
  display: block;
  padding: 15px;
  font-size: 20px;
  background-color: #f12702;
  color: var(--Yellow-color);
  text-align: center;
  border-radius: 10px 20px;
}

@media (width < 768px) {
  #footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/* End footer */

/* start add feature for button to scroll up */
#btnScrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--main-background-color);
  display: none;
}
#btnScrollToTop:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
/* End add feature for button to scroll up */

/* start  to change the bar scroll  */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--main-color);
}

::-webkit-scrollbar-thumb {
  background: var(--main-secondary-color);
}
/* End  to change the bar scroll  */
